$loader-width: 50px;
$rec-label: (
  "width": 69px,
  "height": 16px
);
$prod-arrow: (
  "width": 20px,
  "height": 20px,
  "top": 78px
);
$icon-like: (
  "width": 9px,
  "height": 9px
);
$prod-img-wrapper-mw: 100%;
$breakpoint-md: 992px;
