@forward "dimens";
@use "dimens";

@mixin common-panel {
  // For tables or medium sized screens
  @media only screen and (max-width: dimens.$breakpoint-tab-max-width) {
    margin: 0;
    max-width: unset;
    max-height: unset;
    height: 100vh;
    width: 100%;

    .expanded-tile-wrapper {
      .exit {
        display: none !important;
      }

      .panel {
        grid-template-columns: 1fr;
        width: 100%;
        max-height: unset;
        overflow: hidden auto;
        margin-bottom: 56px;

        .panel-left,
        .panel-right {
          width: auto;
        }
      }
    }
  }
}

@mixin md-panel {
  @include common-panel;

  @media only screen and (min-width: dimens.$breakpoint-tab-min-width) and (max-width: dimens.$breakpoint-tab-max-width) {
    .panel {
      grid-template-rows: dimens.$tablet-panel-top-width-upper-limit fit-content(50%) !important;
    }
  }
}

@mixin sm-panel {
  @include common-panel;

  @media only screen and (max-width: dimens.$breakpoint-mob-max-width) {
    .panel {
      grid-template-columns: minmax(100%, 1fr) !important;
      grid-template-rows: 50% fit-content(50%) !important;
    }
  }
}
