@forward "@styles/partials/inline-dimens";

// swiper element width for large screens
$swiper-container-width-lg: 100%;

// swiper slide / tile width for medium/small screens
$tile-width-md: 100%;
$tile-height-md: 100%;

// swiper element width for medium/small screens
$swiper-container-width-md: auto;

