node_modules
.idea
.esbuild
test-results/
playwright-report/
*.d.ts
*.map
.serverless
server
.vscode/settings.json
.DS_Store
dist/*
!dist/assets/
!dist/fonts/
!dist/samples/
dist/assets/spritemaps/*
meta.json
dist/assets/widget-core