<div class="track swiper shortvideo-inline swiper-inline" style="display:none;" aria-label="Content shortvideo">
	<div class="swiper-wrapper ugc-tiles" aria-label="Shortvideo items">
		{{#tiles}}
		{{>tpl-tile options=../options}}
		{{/tiles}}
	</div>
</div>
<div class="swiper-inline-shortvideo-button-prev swiper-button-prev btn-lg" aria-label="Previous content item">
	<span class="swiper-nav-icon icon-prev-circle" />
</div>
<div class="swiper-inline-shortvideo-button-next swiper-button-next btn-lg" aria-label="Next content item">
	<span class="swiper-nav-icon icon-next-circle" />
</div>
