<div class="ugc-tiles quadrant-inline" cols="auto" aria-label="Content quadrant">
    {{#tiles}}
    {{>tpl-tile options=../options}}
    {{/tiles}}
</div>
<load-more widgetId="{{options.wid}}" aria-label="Load more content"/>
