<div class="slider-inline track" aria-label="Content slider">
  <div class="container" aria-label="Slider container">
    <div class="tiles-scroll-button" id="scroll-up" aria-label="Previous content item">
      <span class="widget-icon chevron-left"></span>
    </div>
    <div class="slider-loading loading" aria-label="Loading content"></div>
    <div class="ugc-tiles" aria-label="Slider items">
      {{#tiles}}
      {{>tpl-tile options=../options}}
      {{/tiles}}
    </div>
    <div class="tiles-scroll-button" id="scroll-down" aria-label="Next content item">
      <span class="widget-icon chevron-right"></span>
    </div>
  </div>
</div>
