<div id="search">
    <input type="text" id="search-input" placeholder="Search for tiles" aria-label="Search tiles" />
</div>
<div class="ugc-tiles grid grid-inline" aria-label="Content blankcanvas">
    {{#tiles}}
    {{>tpl-tile options=../options}}
    {{/tiles}}
</div>
<load-more widgetId="{{options.wid}}" aria-label="Load more content"/>
