<div class="toast-container" id="toast-container"></div>
<div id="starter-container">
    <div class="ugc-tiles grid grid-inline">
        {{#tiles}}
        {{>tpl-tile options=../options}}
        {{/tiles}}
    </div>
    <load-more widgetId="{{options.wid}}"/>
</div>
