@use "variables" as vars;

$nosto-container-margin: vars.$nosto-container-margin;

%swiper-expanded-ph {
  .swiper-expanded-button-next,
  .swiper-expanded-button-prev {
    top: 0;
    bottom: 0;
    display: flex;
        align-items: center;
        height: vars.$full-height !important;
        width: vars.$swiper-nav-button-width !important;
    }
}

@mixin swiper-expanded-styles() {
  @extend %swiper-expanded-ph;
  @content;
}


