@use "sass:string";
@use "variables" as vars;

%icon-sections-styles-ph {
  $icon-placement-top: vars.$icon-placement-top;
  $icon-placement-bottom: vars.$icon-placement-bottom;
  $icon-placement-left: vars.$icon-placement-left;
  $icon-placement-right: vars.$icon-placement-right;

  display: flex;
  position: absolute;
  width: vars.$full-width;
  height: vars.$full-height;

  .top-section,
  .bottom-section {
    display: flex;
    position: absolute;
    justify-content: space-between;
    z-index: 1;
    width: vars.$full-width;
    align-items: flex-end;
    flex-direction: row;
  }

  .top-section {
    z-index: 2;
    top: $icon-placement-top;

    .content-icon {
      margin-left: $icon-placement-left;
    }

    .shopping-icon {
      margin-left: auto;
      margin-right: $icon-placement-right;
    }
  }

  .bottom-section {
    z-index: 2;
    bottom: $icon-placement-bottom;

    .network-icon {
      margin-left: auto;
      margin-right: $icon-placement-right;
    }
  }

  .center-section {
    position: absolute;
    display: flex;
    z-index: 1;
    justify-content: center;
    width: vars.$full-width;
    align-items: center;
    height: vars.$full-height;
  }
}

@mixin icon-sections-styles($parent: null) {
  @if $parent {
    #{string.unquote($parent) ".icon-section"} {
      @extend %icon-sections-styles-ph !optional;
    }
  } @else {
    #{if(&, "& .icon-section", ".icon-section")} {
      @extend %icon-sections-styles-ph !optional;
    }
  }
  @content;
}
