<div class="track swiper carousel-inline swiper-inline"
     role="group"
     aria-label="Content carousel"
     aria-roledescription="carousel">
  <div class="swiper-wrapper ugc-tiles" role="group" aria-label="Carousel items">
    {{#tiles}}
    {{>tpl-tile options=../options}}
    {{/tiles}}
  </div>
</div>

<div class="swiper-inline-carousel-button-prev swiper-button-prev btn-lg"
        aria-label="Previous content item"
        aria-controls="carousel-content">
  <span class="swiper-nav-icon icon-prev-circle"
        aria-hidden="true"
        role="img"
        aria-label="Previous arrow"></span>
</div>

<div class="swiper-inline-carousel-button-next swiper-button-next btn-lg"
        aria-label="Next content item"
        aria-controls="carousel-content">
  <span class="swiper-nav-icon icon-next-circle"
        aria-hidden="true"
        role="img"
        aria-label="Next arrow"></span>
</div>
