<section class="ugc-carousel-widget" role="region" aria-label="User Generated Content Carousel">
  <div class="track swiper carousel-inline swiper-inline" 
       style="display:none;" 
       role="group" 
       aria-label="Content carousel"
       aria-roledescription="carousel">
    <div class="swiper-wrapper ugc-tiles" role="group" aria-label="Carousel items">
      {{#tiles}}
      {{>tpl-tile options=../options}}
      {{/tiles}}
    </div>
  </div>
  
  <nav class="carousel-navigation" role="navigation" aria-label="Carousel navigation">
    <button class="swiper-inline-carousel-button-prev swiper-button-prev btn-lg" 
            type="button"
            aria-label="Previous content item"
            aria-controls="carousel-content"
            tabindex="0">
      <span class="swiper-nav-icon icon-prev-circle" 
            aria-hidden="true" 
            role="img" 
            aria-label="Previous arrow"></span>
      <span class="sr-only">Previous</span>
    </button>
    
    <button class="swiper-inline-carousel-button-next swiper-button-next btn-lg" 
            type="button"
            aria-label="Next content item"
            aria-controls="carousel-content"
            tabindex="0">
      <span class="swiper-nav-icon icon-next-circle" 
            aria-hidden="true" 
            role="img" 
            aria-label="Next arrow"></span>
      <span class="sr-only">Next</span>
    </button>
  </nav>
</section>