<div class="ugc-tiles grid grid-inline" aria-label="Content grid">
    {{#tiles}}
    {{>tpl-tile options=../options}}
    {{/tiles}}
</div>
<load-more widgetId="{{options.wid}}" aria-label="Load more content" />
