@use "./expanded-tiles";

#nosto-ugc-container {
    time-phrase {
        display: var(--timephrase-display-inline);
        align-items: center;
    }

    share-menu {
        display: var(--share-icon-display-inline);
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        
        .share-socials-popup-wrapper {
            position: fixed;
            background: none !important;
        }

        .panel-overlay-active {
            inset: 0;
        }

        .popup-text {
            color: white;
        }

        .share-socials-popup {
            background-color: black;
        }

        .icon-email-share {
            background: url('assets/svg/email-share-yellow.svg') no-repeat;
            height: 33px;
        }
    }
}