<div id="widget-container" class="hidden-container">
    <div class="ugc-tiles grid nightfall-inline">
        {{#tiles}}
        {{>tpl-tile options=../options}}
        {{/tiles}}
    </div>
    <load-more widgetId="{{options.wid}}"/>
</div>