<div id="widget-container" class="hidden-container" aria-label="Nightfall widget container">
    <div class="ugc-tiles grid nightfall-inline" aria-label="Content nightfall">
        {{#tiles}}
        {{>tpl-tile options=../options}}
        {{/tiles}}
    </div>
    <load-more widgetId="{{options.wid}}" aria-label="Load more content"/>
</div>