@mixin skeleton-loader-styles() {
@keyframes skeleton-loading {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: calc(200px + 100%) 0;
    }
  }

  .skeleton-loader {
    &:not(.transitioned) {
        background: linear-gradient(90deg, #f0f0f0 0px, #f8f8f8 40px, #f0f0f0 80px);
        background-size: 200px 100%;
        animation: skeleton-loading 1.5s ease-in-out infinite;
        border-radius: 4px;
        color: transparent !important;
        pointer-events: none;
        opacity: 1;

        & img {
          opacity: 0;
          border: none;
        }

        * {
          border: none !important;
        }
    }

    &.transitioned {
      transition: opacity 0.5s ease-out;
      opacity: 0;

      & img {
        opacity: 0;
        border: none;
      }

      * {
        border: none !important;
      }
    }
  }
  @content;
}